name: Run Tests on PR Open

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  push:
    branches:
      - main

env:
  COVERAGE_PYTHON_VERSION: "3.12"

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install dependencies
        run: pip install -e ".[dev]"

      - name: Run tests
        run: pytest --cov=locust_telemetry --cov-report=term --cov-report=xml

      - name: Upload coverage to GitHub
        if: ${{ matrix.python-version == env.COVERAGE_PYTHON_VERSION }}
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml

      - name: Upload coverage to Codecov
        if: ${{ matrix.python-version == env.COVERAGE_PYTHON_VERSION }}
        uses: codecov/codecov-action@v5
        with:
          comment: always
          files: coverage.xml
          flags: unittests
          name: codecov-coverage
          slug: platform-crew/locust-telemetry
          token: ${{ secrets.CODECOV_TOKEN }}
